div.container__card {
    display: flex;
    justify-content: space-around;
    background-color: $textWhite;
    align-items: end;
    padding: 1rem 2rem 4rem 2rem;
    margin: 1rem 0;
    gap: 0.5rem;

    p {
        color: $firstColor;
        font-weight: 600;
        margin-top: 0;
    }

    div {
        display: flex;
        flex-direction: column;
    }

    div.one {
        width: 15rem;
        padding: 0 .5rem;
        align-items: start;
    }

    div.two {
        width: 30rem;
        padding: 0 .5rem;
        align-items: start;
    }

    div.three {
        width: 20rem;

        a {
            display: flex;
            align-items: center;
            margin-bottom: 2.3rem;
            gap: .5rem;

            img {
                width: 2.2rem;

            }

        }

        span {
            font-size: 1.5rem;
            text-align: center;
            color: $textWhite;
            background-color: $firstColor;
            padding: .5rem 1rem;
            margin-bottom: .8rem;
            transition: box-shadow 0.5s;
            background: linear-gradient(0deg, $firstColor 25%, $secondColor 98%);
        }
    }

    @include tablet {
        width: 50rem;

        div.three {
            a {
                justify-content: center;
            }
            
        }
        div.two {
            p{
                font-size: 2rem;
            }
        }
    }
}