section.container__generate-text {
    background-image: url('/src/assets/img/text_background.webp');
    background-size: cover;
    background-position: top;
    height: 100vh;
    padding: 6rem 1rem;
    h2 {
        font-size: 1.5rem;
        font-weight: 100;
        color: $firstColor;
        text-align: start;
        margin: 10rem 0 2rem 2.5rem;
    }

    button {
        display: inline-block;
        color: $textWhite;
        font-size: 1.7rem;
        font-weight: 600;
        margin: 1.7rem 2rem;
        text-align: center;
        padding: .7rem 2rem;
        width: 12rem;
        border: none;
        cursor: pointer;
        box-shadow: 0px 4px 4px 0 rgb(48 48 48 / 59%);
        transition: box-shadow 0.5s;
        background: linear-gradient(0deg, $firstColor 25%, $secondColor 98%);

        &:hover {
            background: rgb(199, 167, 248);
            background: linear-gradient(290deg,
                    rgba(199, 167, 248, 1) 0%,
                    rgba(150, 126, 202, 1) 10%,
                    rgba(141, 118, 193, 1) 20%,
                    rgba(125, 105, 179, 1) 55%,
                    rgba(76, 64, 132, 1) 100%);
        }
    }

    @include tablet {
        h2{
            font-size: 3rem;
            text-align: center;
            color: $textWhite;
        }
        .card__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        button{
            width: 20rem;
        }

    }
    div{
        text-align: center;
    }
}