section.container__query {
    background-image: url('/src/assets/img/text_background.webp');
    background-size: cover;
    background-position: top;
    height: 100vh;
    padding: 6rem 1rem;
    h1 {
        font-size: 1.8rem;
        font-family: $font;
        font-weight: 500;
        margin-bottom: 5rem;
        text-align: center;
      }
      @include tablet{
        h1{
          font-size: 3rem;
          text-align: center;
        }
        .card__container{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
        }
        
      }
}