section.reset_password_container {
  display: grid;
  place-content: center;
  background-image: url('/src/assets/img/backgroundHomeM.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;

  h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto 5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .message__error {
      padding: 0.5rem 0.9rem;
      border-radius: 1rem;
      box-shadow: 0 0 15px 5px $firstColor;
      background-color: #f7a7a3;
      font-size: 1.1rem;
    }
    input {
      padding: 0.7rem 2rem;
      border-radius: 0.5rem;
      border-color: $textWhite;
      width: 30rem;
      outline: none;
    }

    input:focus {
      border: 2px solid $firstColor;
    }

    ::placeholder {
      font-weight: 600;
      color: $firstColor;
      opacity: 1;
    }
  }
  .reset_success {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    row-gap: 2rem;
    place-content: center;
    span {
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
    }
    a {
      background-color: white;
      color: $firstColor;
      padding: 1rem 2rem;
      border-radius: 0.6rem;
      font-weight: bold;
      transition: all 0.5s ease;
      &:hover {
        background-color: $firstColor;
        color: white;
      }
    }
  }
  @include tablet {
    background-image: url('/src/assets/img/backgroundHomeD.webp');
    background-repeat: no-repeat;
    background-position: center 95%;
  }
}
