//Colores
$firstColor: #4C4084;
$secondColor: #AE80F5;
$thirdColor: #FFFFFF;
$background: #F2F2F4;
$textWhite: #FFFFFF;
$textBlack: #2B2B2B;
$textGray: #666363;

//Medidas Queries
$phone: 380px;
$tablet: 930px;
$tabletAl: 930px;
$desktop: 1200px;

//Fuentes
$font: 'Montserrat', sans-serif;
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//Separaciones
$separacion: 5rem;