//Colores
$firstColor: #4c4084;
$secondColor: #ae80f5;
$thirdColor: #ffffff;
$background: #f2f2f4;
$textWhite: #ffffff;
$textBlack: #2b2b2b;
$textGray: #666363;

//Medidas Queries
$phone: 380px;
$tablet: 930px;
$tabletAl: 930px;
$desktop: 1200px;

//Fuentes
$font: 'Montserrat', sans-serif;
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//Separaciones
$separacion: 5rem;
